/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: #777;
    font-family: 'Roboto Slab', serif;
}

.mark {
    color: #7cc576;
}

.text-light {
    color: #fff;
}

.text-dark {
    color: #222;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.space {
    padding: 100px 1%;
}

.text {
    line-height: 140%;
}

.heading-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.text-xxl {
    font-size: 6rem;
}

.text-xl {
    font-size: 4rem;
}

.text-extra-large {
    font-size: 2.2rem;
}

.text-large {
    font-size: 2rem;
    padding: 20px 0 80px;
}

.text-big {
    font-size: 1.8rem;
}

.text-medium {
    font-size: 1.6rem;
}

.text-small {
    font-size: 1.4rem;
}

.btn {
    padding: 20px 30px;
    border-radius: 40px;
    background-color: #7cc576;
    border-style: none;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-shadow: 0 0 1px #3f3f3f;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background-color: #fff;
    color: #3f3f3f;
    text-shadow: 0 0 0 #fff;
}

/* #######################
            NAVBAR
######################### */

.navbar {
    padding: 82px 1%;
    text-transform: uppercase;
}

.navbar,
.navbar__company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__company {
    text-decoration: none;
    color: #3f3f3f;
}

.nav {
    flex-basis: 50%;
}

.navbar__name {
    margin-left: 5px;
}

.nav__list {
    display: flex;
}

.nav__item {
    flex-grow: 1;
    text-align: right;
}

.nav__link {
    color: #808080;
    text-decoration: none;
    letter-spacing: .3px;
    cursor: pointer;
}

.nav__link:hover {
    color: #7cc576;
}

@media (max-width: 767px) {
    .nav__list {
        flex-direction: column;
    }
}

/* #######################
            HOME
######################### */
.home {
    background: url(../images/bg_header.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.home__wrap {
    padding: 120px 1%;
    background-color: rgba(0, 0, 0, .7);
}

.home__title {
    margin: 0 auto;
    width: 60%;
    letter-spacing: 1px;
}

.home__text {
    padding: 40px 0 60px;
    color: #777;
}

@media (max-width: 1023px) {
    .home__wrap {
        padding: 60px 1%;
    }

    .home__title {
        width: 80%;
    }
}

/* #######################
            ABOUT
######################### */

.about__boxes {
    display: flex;
    align-items: baseline;
}

.about__box {
    padding: 10px 0;
    transition: .2s;
}

.about__header {
    padding: 40px 0 20px;
}

.about__box--middle {
    margin: 0 50px;
}

.about__box:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

@media (max-width: 1024px) {
    .about {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .about__boxes {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .about__header {
        padding-top: 20px;
    }

    .about__box--middle {
        margin: 15px 0;
    }
}

/* #######################
            BLOG
######################### */

.blog {
    display: flex;
}

.blog__left {
    background: url(../images/blog_bg.jpg) no-repeat right;
    background-size: cover;
    width: 30%;
}

.blog__right {
    background: url(../images/blog_main.jpg) no-repeat center;
    background-size: cover;
    width: 70%;
}

.blog__cover {
    background-color: rgba(0, 0, 0, .7);
}

.blog__wrap {
    width: 70%;
    margin: 0 auto;
}

.blog__text {
    padding: 45px 0 20px;
    width: 80%;
}

.blog__list {
    padding-bottom: 50px;
}

.blog__item {
    padding-bottom: 10px;
}

.blog__break {
    display: block;
}

.blog__title {
    line-height: 130%;
}

@media (max-width: 1024px) {
    .blog__left {
        display: none;
    }

    .blog__right {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .blog__wrap {
        width: 80%;
    }

    .blog__text {
        width: 100%;
    }

    .blog__list {
        padding-bottom: 20px;
    }

    .blog__text {
        padding-top: 30px;
    }
}

/* #######################
    PORTFOLIO - PROJECT
######################### */
.project {
    background: url(../images/bg_tablet.png) no-repeat right bottom;
}

.project__wrap {
    width: 50%;
}

.project__item {
    padding: 20px 0;
}

.project__block {
    display: inline-flex;
    align-items: center;
    transition: .2s;
}

.project__block:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.project__box {
    margin: 20px 0 20px 20px;
}

.project__img {
    width: 12%;
}

.portfolio__link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: .2s;
}

.portfolio__link:hover {
    color: #222;
}

@media (max-width: 1024px) {
    .project__wrap {
        margin: 0 auto;
        width: 80%;
    }

    .project {
        background: none;
    }
}

@media (max-width: 533px) {
    .project__img {
        display: none;
    }

    .project__box {
        margin-left: 0;
    }
}


/* #######################
    PORTFOLIO - CULTURE
######################### */
.culture {
    background-color: #f9f9f9;
}

.culture__boxes {
    display: flex;
    align-items: baseline;
}

.culture__box {
    margin: 2%;
    position: relative;
}

.culture__box::before,
.culture__box::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #777;
    top: 48px;
    width: 45%;
}

.culture__box::before {
    right: -25%;
}

.culture__box::after {
    left: -25%;
}

.culture__text {
    padding: 30px 0 20px;
}

.culture__img {
    border: 3px solid #777;
    border-radius: 50%;
}

@media (max-width: 640px) {
    .culture__boxes {
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }

    .culture__box::before,
    .culture__box::after {
        display: none;
    }

    .culture__box--middle {
        margin: 10% 0;
    }
}

/* #######################
    PORTFOLIO - CLIENT
######################### */
.client__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.client__box--sec {
    flex-direction: row-reverse;
    margin-top: 80px;
}

.client__person {
    width: 14vw;
    height: 14vw;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.client__img {
    width: 100%;
    border-radius: 50%;
}

.client__answer {
    position: relative;
    max-width: 640px;
    padding: 40px;
    background-color: #f9f9f9;
}

.client__answer--odd::before,
.client__answer--even::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.client__answer--odd::before {
    left: -20px;
    border-right: 20px solid #f9f9f9;
}

.client__answer--even::before {
    right: -20px;
    border-left: 20px solid #f9f9f9;
}

.client__question {
    padding: 70px 0;
    background-color: #7cc576;
}

.client__text {
    width: 80%;
    margin: 0 auto;
}

.client__btn {
    margin-top: 30px;
    border: 4px solid #fff;
    border-radius: 10px;
    font-size: 1.8rem;
    text-shadow: none;
}

.client__btn:hover {
    color: #7cc576;
    background-color: #fff;
}

.client__logos {
    display: flex;
    justify-content: space-around;
    padding: 20px 1%;
}

@media (max-width: 1366px) {
    .client__person {
        width: 18vw;
        height: 18vw;

    }
}

@media (max-width: 1023px) {
    .client__box {
        flex-direction: column;
    }

    .client__answer {
        margin-top: 35px;
        width: 95%;
    }

    .client__person {
        width: 27vw;
        height: 27vw;
    }

    .client__answer--odd::before {
        top: -20px;
        left: 50%;
        transform: rotate(90deg) translateY(50%);
    }

    .client__answer--even::before {
        top: -20px;
        right: 50%;
        transform: rotate(-90deg) translateY(50%);
    }
}

@media (max-width: 768px) {
    .client__question {
        padding: 50px 0;
    }

    .client__answer {
        padding: 20px;
    }

    .client__logos {
        flex-wrap: wrap;
        width: 80%;
    }

    .client__img {
        flex: 0 1 50%;
    }

    .client__img:nth-child(-n+2) {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .client__logos img {
        width: 80%;
    }

    .client__person {
        width: 45vw;
        height: 45vw;
    }
}

/* #######################
            FOOTER
######################### */

.footer-main {
    padding: 60px 1%;
    background-color: #222;
}

.footer-main__boxes,
.footer-main__text--block {
    display: flex;
    width: 95%;
}

.footer-main__box {
    flex-basis: 33.33%;
}

.footer-main__heading {
    padding-bottom: 30px;
}

.footer-main__link {
    text-decoration: none;
    color: #fff;
    transition: .1s;
}

.footer-main__text {
    padding-bottom: 15px;
    line-height: 150%;
    text-decoration: none;
    color: #fff;
    transition: .1s;
}

.footer-main__text--mail:hover,
.footer-main__link:hover {
    color: #7cc576;
    text-decoration: underline;
}

.footer-main__icon {
    font-size: 2.5rem;
    padding-right: 15px;
}

.footer-main__address {
    width: 35%;
}

.footer-main__break {
    display: block;
}

.footer-last {
    display: flex;
    align-items: center;
    padding: 30px 1%;
    background-color: #fff;
}

.footer-last__icons {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    color: #222;
}

.footer-last__tw,
.footer-last__fb,
.footer-last__pin {
    margin-right: 10px;
}

.footer-last__tw,
.footer-last__fb,
.footer-last__pin,
.footer-last__google {
    transition: .2s;
    color: #222;
    cursor: pointer;
}

.footer-last__tw:hover {
    color: #00aced;
}

.footer-last__fb:hover {
    color: #3b5998;
}

.footer-last__pin:hover {
    color: #cb2028;
}

.footer-last__google:hover {
    color: #da2713;
}

@media (max-width: 1024px) {
    .footer-main {
        padding: 40px 0;
    }

    .footer-main__boxes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-main__box--contact {
        flex-basis: 90%;
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-main__box--posts,
    .footer-main__box--tweets {
        flex-basis: 45%;
    }

    .footer-main__row {
        display: flex;
    }

    .footer-main__text {
        flex-basis: 33.33%;
    }

    .footer-main__address {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 767px) {
    .footer-main {
        padding: 20px 0;
    }

    .footer-main__boxes {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .footer-main__box--contact {
        text-align: left;
    }

    .footer-main__heading {
        padding-top: 20px;
        text-align: center;
    }

    .footer-main__row {
        display: block;
    }
}

@media (max-width: 640px) {
    .footer-main__heading {
        text-align: left;
    }

    .footer-last {
        flex-direction: column;
        padding: 15px 0;
    }

    .footer-last__icons {
        order: -1;
        padding-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .footer-main__boxes {
        width: 90%;
    }
}

/* #######################
        GLOBAL CLASSES
######################### */
@media (max-width: 767px) {
    .btn {
        font-size: 1.4rem;
        padding: 15px 25px;
    }

    .space {
        padding: 50px 1%;
    }

    .text-xxl {
        font-size: 4rem;
    }

    .text-xl {
        font-size: 3rem;
    }

    .text-extra-large {
        font-size: 1.8rem;
    }

    .text-large {
        font-size: 1.7rem;
        padding-bottom: 40px;
    }

    .text-big {
        font-size: 1.6rem;
    }

    .text-medium {
        font-size: 1.4rem;
    }

    .text-small {
        font-size: 1.3rem;
        line-height: 150%;
    }
}

@media (max-width: 568px) {
    .text-xxl {
        font-size: 3.5rem;
    }
}