/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: #777;
    font-family: 'Roboto Slab', serif;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.space {
    padding: 100px 1%;
}

.mark {
    color: #7cc576;
}

.text-light {
    color: #fff;
}

.text-dark {
    color: #222;
}

.text {
    line-height: 170%;
}

.heading-text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.text-xxl {
    font-size: 6rem;
}

.text-xl {
    font-size: 4rem;
}

.text-extra-large {
    font-size: 2.2rem;
}

.text-large {
    font-size: 2rem;
    padding: 20px 0 80px;
}

.text-big {
    font-size: 1.8rem;
}

.text-medium {
    font-size: 1.6rem;
}

.text-small {
    font-size: 1.4rem;
}

.btn {
    padding: 20px 30px;
    border-radius: 40px;
    background-color: #7cc576;
    border-style: none;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-shadow: 0 0 1px #3f3f3f;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background-color: #fff;
    color: #3f3f3f;
    text-shadow: 0 0 0 #fff;
}

/* #######################
            NAVBAR
######################### */
.navbar {
    padding: 82px 1%;
    text-transform: uppercase;
}

.navbar,
.navbar__company {
    display: flex;
    align-items: center;
}

.navbar__company {
    margin-right: auto;
    text-decoration: none;
    color: #3f3f3f;
}

.navbar__name {
    margin-left: 5px;
}

.nav__list {
    display: flex;
}

.nav__link {
    margin-left: 30px;
    color: #808080;
    text-decoration: none;
    letter-spacing: .3px;
}

.nav__link:hover {
    color: #7cc576;
}

/* #######################
            HOME
######################### */
.home {
    background: url(images/bg_header.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.home__wrap {
    padding: 120px 0;
    background-color: rgba(0, 0, 0, .7);
}

.home__title {
    margin: 0 auto;
    width: 60%;
    line-height: 130%;
    letter-spacing: 1px;
}

.home__text {
    padding: 40px 0 60px;
    color: #777;
}

/* #######################
            ABOUT
######################### */

.about__text {
    padding: 20px 0 80px;
}

.boxes {
    display: flex;
    align-items: baseline;
}

.boxes__header {
    padding: 40px 0 20px;
}

.boxes__box--midle {
    padding: 0 50px;
}

.boxes__box {
    padding: 10px 0;
    transition: .2s;
}

.boxes__box:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

/* #######################
            BLOG
######################### */
.blog {
    display: flex;
}

.blog__left {
    background: url(images/blog_bg.jpg) no-repeat right;
    background-size: cover;
    width: 30%;
}

.blog__right {
    background: url(images/blog_main.jpg) no-repeat center;
    background-size: cover;
    width: 70%;
}

.blog__cover {
    background-color: rgba(0, 0, 0, .7);
}

.blog__wrap {
    width: 70%;
    margin: 0 auto;
}

.blog__text {
    padding: 45px 0 20px;
    width: 80%;
}

.blog__list {
    padding-bottom: 50px;
}

.blog__item {
    padding-bottom: 10px;
}

.blog__break {
    display: block;
    padding-top: 20px;
}

/* #######################
    PORTFOLIO - PROJECT
######################### */
.project {
    background: url(images/bg_tablet.png) no-repeat right bottom;
}

.project__text {
    padding: 20px 0 80px;
}

.project__wrap {
    width: 50%;
}

.project__item {
    padding: 20px 0;
}

.project__block {
    display: flex;
    align-items: center;
    transition: .2s;
}

.project__block:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.project__box {
    margin: 20px 0 20px 20px;
}

.portfolio__link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: .2s;
}

.portfolio__link:hover {
    color: #222;
}

/* #######################
    PORTFOLIO - CULTURE
######################### */
.culture {
    background-color: #f9f9f9;
}

.culture__boxes {
    display: flex;
    align-items: baseline;
    background-color: transparent;
}

.culture__box {
    margin: 2%;
    position: relative;
}

.culture__box::before,
.culture__box::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 2px solid #777;
    top: 48px;
    width: 45%;
}

.culture__box::before {
    right: -25%;
}

.culture__box::after {
    left: -25%;
}

.culture__text {
    padding: 30px 0 20px;
}

.culture__img {
    border: 3px solid #777;
    border-radius: 50%;
}

/* #######################
    PORTFOLIO - CLIENT
######################### */
.client__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.client__box:nth-child(even) {
    flex-direction: row-reverse;
}

.client__person {
    width: 220px;
    height: 220px;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.client__answer {
    position: relative;
    max-width: 640px;
    padding: 40px;
    background-color: #f9f9f9;
}

.client__answer::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.client__box:nth-child(odd) .client__answer::before {
    left: -20px;
    border-right: 20px solid #f9f9f9;
}

.client__box:nth-child(even) .client__answer::before {
    right: -20px;
    border-left: 20px solid #f9f9f9;
}

.client__question {
    padding: 70px 0;
    background-color: #7cc576;
}

.client__btn {
    margin-top: 30px;
    border: 4px solid #fff;
    border-radius: 10px;
    font-size: 1.8rem;
    text-shadow: none;
}

.client__btn:hover {
    color: #7cc576;
    background-color: #fff;
}

.client__logos {
    display: flex;
    justify-content: space-around;
    padding: 20px 1%;
}

/* #######################
    PORTFOLIO - CLIENT
######################### */

.footer-main {
    padding: 60px 1%;
    background-color: #222;
}

.footer-main__boxes {
    display: flex;
    flex-basis: 33%;
}

.footer-main__box {
    flex-basis: 33.33%;
}

.footer-main__heading {
    padding-bottom: 30px;
}

.footer-main__link {
    text-decoration: none;
    color: #fff;
    transition: .1s;
}

.footer-main__text--mail:hover,
.footer-main__link:hover {
    color: #7cc576;
}

.footer-main__icon {
    font-size: 2.5rem;
    padding-right: 15px;
}

.footer-main__text {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    line-height: 150%;
    text-decoration: none;
    color: #fff;
    transition: .1s;
}

.footer-main__text--last {
    align-items: flex-start;
}

.footer-main__break {
    display: block;
}

.footer-last {
    display: flex;
    align-items: center;
    padding: 30px 1%;
    background-color: #fff;
}

.footer-last__icons {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    color: #222;
}

.footer-last__tw,
.footer-last__fb,
.footer-last__pin {
    margin-right: 10px;
}

.footer-last__tw,
.footer-last__fb,
.footer-last__pin,
.footer-last__google {
    cursor: pointer;
    transition: .2s;
    color: #222;
}

.footer-last__tw:hover {
    color: #00aced;
}

.footer-last__fb:hover {
    color: #3b5998;
}

.footer-last__pin:hover {
    color: #cb2028;
}

.footer-last__google:hover {
    color: #da2713;
}